<div class= "container">
    <p><b>Email</b> : <%= User.find(@todo_list.user_id).email %> </p>
    <p><b>Description</b> : <%= @todo_list.description %> </p>
    <p><b>Completed</b> : <%= @todo_list.completed %> </p>
</div>